extends layout.pug

block content
  section.about
    h2 About Us
    p TechSpot is a leading online retailer specializing in the latest technology products. We pride ourselves on providing a wide range of high-quality products at competitive prices. With our convenient online store, you can easily find the tech products you need and have them delivered straight to your door. Shop with confidence at TechSpot!
